.kids {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid: initial;
  grid-template-columns: 25% 25% 25% 25%;
  grid-row: auto;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
}

.dangerButton {
  position: absolute;
  top: 13px;
  right: 3px;
}

.commentContainer {
  border-radius: 4px;
  border: 1px solid #ddd;
}

#classComments {
  white-space: pre-line;
}

.buttonList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonList2 {
  margin-bottom: 15px;
}

.buttonList > .btn {
  margin: 10px;
  width: 40%;
}

.buttonList2 > .btn {
  width: 80%;
}

@media all and (max-width: 700px){
  .buttonList {
    padding: 0;
  }

  .buttonList > .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn {
    word-wrap: normal;
    font-size: 12px;
  }

  .kids {
    grid-template-columns: 50% 50%;
  }
}
