.kidDetails {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}

.kidName, .kidImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

canvas {
  max-width: 300px;
  max-height: 300px;
  border: 2px solid gray;
}

#image-box {
  background-color: gray;
  border: 2px solid darkgray;
  border-radius: 5px;
  overflow: hidden;
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.studentPhoto {
  width: 100px;
  height: 150px;
  border: 2px solid darkgray;
  border-radius: 5px;
}

#inner-circle1 {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
  top: 50px;
  position: relative;
}

#inner-circle2 {
  top: 50px;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
  position: relative;
}

.buttonList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonList > .btn {
  margin: 10px;
  width: 40%;
  margin-left: 5%;
}

.btn-primary {
  margin-bottom: 10px;
  margin-top: 10px;
}

li {
  white-space: pre-line;
}
