<section class="container">
    <h1>New Features and Fixes</h1>
    <hr />
    <section class="features-section">
        <h2>Currently Working On....</h2>
        <section>
            <ul class="update-list">
                <li>Plan to update flexibility by changing requirements and form validation, increase form options, and give more customisation of input across the application.</li>
            </ul>
            <p>If you have any ideas for new features please let me know, and also let me know if any of the new features have bugs, if any of the bug fixes have not worked, or if there are any other bugs that still need fixing!</p>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 13/4/2022</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>Update</h3>
                </li>
                <li>Updated framework version to latest version - keep the application up to date and help with development</li>
                <li>Split front end and back end applications - help with development</li>
            </ul>
        </section>
    </section>
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 26/12/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Added comments and notes for classes</li>
                <li>Reordered class page buttons to a more sensible order</li>
            </ul>
            <ul class="update-list">
                <li class="list-title">
                    <h3>Bug Fixes</h3>
                </li>
                <li>Fixed lesson header display for even numbered stages (that don't start at unit 1)</li>
                <li>Several errors related to adding G0 3.5 lessons, adding G0 3.5 classes and adding G0 3.5 lessons to classes</li>
            </ul>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 17/11/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Minor restyle - dark theme now used</li>
                <li>Photos of students also added to class page during restyle</li>
            </ul>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 15/11/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Increased regular expression checks on class codes so that they are in the form the rest of the site can use and helping to add more uniqueness to database objects</li>
                <li>Changed the even stages of the new curriculum courses to have units 5-8 instead of 1-4</li>
            </ul>
            <ul class="update-list">
                <li class="list-title">
                    <h3>Bug Fixes</h3>
                </li>
                <li>Changed date on previous update to correct date</li>
            </ul>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 14/11/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Added beta photos to students</li>
                <ul>
                    <li>Photos can be added to students throught the student details page</li>
                    <li>This currently may have some problems, I am looking into all bugs and problems that there may be with this currently</li>
                    <li>I will also be updating and working on the class details page layout to show the students photos along with their names</li>
                </ul>
            </ul>
            <ul class="update-list">
                <li class="list-title">
                    <h3>Bug Fixes</h3>
                </li>
                <li>SS classes can now add speaking tests as lessons - these were missing before</li>
                <li>Lesson page now doesn't show "Lesson has not been added" while lesson is loading for the first time</li>
            </ul>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 22/10/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Additional navigation tools for lesson lists have been added</li>
                <li>New 3.5 curriculums added to forms</li>
                <ul>
                    <li>New 3.5 curriculum classes can now be added</li>
                    <li>Lessons can be added to the 3.5 curriculum</li>
                </ul>
            </ul>
            <ul class="update-list">
                <li class="list-title">
                    <h3>Bug Fixes</h3>
                </li>
                <li>.xlsx export now is working as expected</li>
                <li>Further stabilised the class sharing process</li>
            </ul>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 09/10/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Increased range of days that irregular classes can be added, classes can now be added 10 days in advance</li>
                <li>Options added to forms to prepare for 3.5 curriculum</li>
                <ul>
                    <li>New subjects taught by international teachers due to updates have now been added to the add lesson form, add lesson to class form and the add irregular class form</li>
                    <li>This list will be updated and revised along with the number of sessions of each subject as the updates continue</li>
                </ul>
            </ul>
            <ul class="update-list">
                <li class="list-title">
                    <h3>Bug Fixes</h3>
                </li>
                <li>Bug fixes related to new class sharing - this process will continue as more bugs are discovered</li>
            </ul>
        </section>
    </section>
    <hr />
    <section class="features-section">
        <div class="update-title">
            <h2>Update - 05/10/2020</h2><button (click)="collapse($event)"><span class="triangle"></span></button></div>
        <section style="display:none">
            <ul class="update-list">
                <li class="list-title">
                    <h3>New Features</h3>
                </li>
                <li>Move database from mLab to Atlas to maintain consistent coverage</li>
                <li>Add class sharing feature - this is a beta feature and may still be buggy</li>
                <ul>
                    <li>Use the "share class to another teacher" button to share the class by writing the email of the other teacher in the input box</li>
                    <li>The class details will be shared to the other teacher along with any included student details and lesson details</li>
                </ul>
                <li>Add this page showing new features and implemented bug fixes</li>
            </ul>
            <ul class="update-list">
                <li class="list-title">
                    <h3>Bug Fixes</h3>
                </li>
                <li>Fix display of K demo on schedule</li>
                <li>Printable schedule classes should now always in the correct order in the spreadsheet</li>
            </ul>
        </section>
    </section>
</section>