.lesson-nav-button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.lesson-nav-button:hover {
  color: #337ab7;
  background-color: #fff;
  border-color: #2e6da4;
}

.lesson-nav-button:active {
  color: #337ab7;
  background-color: #fff;
  border-color: #2e6da4;
}

.lesson-nav-button-sets {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.lesson-nav-button {
  min-width: 5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 5px;
}

.first-last-button {
  width: 10%;
}

.lesson-nav-main {
  width: 90%;
  margin-left: 5%;
}

.spread {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.selected {
  color: #337ab7;
  background-color: #fff;
  border-color: #2e6da4;
}

.selected:hover {
  color: #fff;
  background-color: #2e6da4;
  border-color: #2e6da4;
}

.selected:active {
  color: #337ab7;
  background-color: #fff;
  border-color: #2e6da4;
}
