.backdrop {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal {
  padding-top: 25%;
}

.receivedClass {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.receivedClassesList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: lightgray;
}
